.main {
  height: 10%;
  width: 100%;
  background-color: rgb(226, 232, 243);
}

.main-body {
  background-color: rgb(181, 204, 247);
  font-family: cursive;
  height: 100%;
  width: 100%;
}

#quote {
  font-size: 120%;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  display: inline-block;
  text-align: center;
  width: 24.5%;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
